include:
  - compose-infra.yaml

services:
  publisher:
    image: ru.ipal.rabbit-publisher:latest
    mem_limit: 4g
    ports:
      - "8081:8081"
    # restart: unless-stopped
    environment:
      RABBITMQ_SERVER: ${RABBIT_MQ_SERVER}
      RABBITMQ_IS_DURABLE: ${IS_TOPIC_DURABLE}
      RABBITMQ_HELLO_RQ_QUEUE: ${HELLO_RQ_QUEUE_NAME}
      RABBITMQ_HELLO_RESP_QUEUE: ${HELLO_RESP_QUEUE_NAME}
      RABBITMQ_LOG_RQ_FANOUT_EXCHANGE: ${LOG_RQ_FANOUT_EXCHANGE}
      RABBITMQ_LOG_RQ_ROUTING_EXCHANGE: ${LOG_RQ_ROUTING_EXCHANGE}
      RABBITMQ_LOG_RQ_ROUTING_CONSUMER_BINDING_KEY: ${LOG_RQ_ROUTING_CONSUMER_BINDING_KEY}
      RABBITMQ_LOG_RQ_TOPIC_EXCHANGE: ${LOG_RQ_TOPIC_EXCHANGE}
      RABBITMQ_LOG_RQ_TOPIC_CONSUMER_BINDING_KEYS: ${LOG_RQ_TOPIC_CONSUMER_BINDING_KEYS}
      RABBITMQ_HELLO_RQ_RPC_QUEUE: ${HELLO_RQ_RPC_QUEUE}
      JAVA_TOOL_OPTIONS: >-
        -XX:+UseCompactObjectHeaders
        -XX:MaxRAMPercentage=75

  consumer:
    image: ru.ipal.rabbit-consumer:latest
    mem_limit: 4g
    scale: 2
    ports:
      - "8082"
    # restart: unless-stopped
    environment:
      RABBITMQ_SERVER: ${RABBIT_MQ_SERVER}
      RABBITMQ_IS_DURABLE: ${IS_TOPIC_DURABLE}
      RABBITMQ_HELLO_RQ_QUEUE: ${HELLO_RQ_QUEUE_NAME}
      RABBITMQ_HELLO_RESP_QUEUE: ${HELLO_RESP_QUEUE_NAME}
      RABBITMQ_LOG_RQ_FANOUT_EXCHANGE: ${LOG_RQ_FANOUT_EXCHANGE}
      RABBITMQ_LOG_RQ_ROUTING_EXCHANGE: ${LOG_RQ_ROUTING_EXCHANGE}
      RABBITMQ_LOG_RQ_ROUTING_CONSUMER_BINDING_KEY: ${LOG_RQ_ROUTING_CONSUMER_BINDING_KEY}
      RABBITMQ_LOG_RQ_TOPIC_EXCHANGE: ${LOG_RQ_TOPIC_EXCHANGE}
      RABBITMQ_LOG_RQ_TOPIC_CONSUMER_BINDING_KEYS: ${LOG_RQ_TOPIC_CONSUMER_BINDING_KEYS}
      RABBITMQ_HELLO_RQ_RPC_QUEUE: ${HELLO_RQ_RPC_QUEUE}
      JAVA_TOOL_OPTIONS: >-
        -XX:+UseCompactObjectHeaders
        -XX:MaxRAMPercentage=75
  
